---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% if site.author.googlescholar %}
  <p>You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</p>
{% endif %}

{% assign counter = 1 %}

<h2>Published Articles</h2>
<ul class="publication-list">
  {% for post in site.publications reversed %}
    {% if post.category == "journal" %}
      <li>
        {{ counter }}. {{ post.author }}. <strong>{{ post.title }}</strong>. <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}.
        {% if post.paperurl %}<a href="{{ post.paperurl }}">[article]</a>{% endif %}
        {% if post.arxivurl %}<a href="{{ post.arxivurl }}">[arXiv]</a>{% endif %}
      </li>
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
</ul>

<h2>Preprints</h2>
<ul class="publication-list">
  {% assign counter = 1 %}
  {% for post in site.publications reversed %}
    {% if post.category == "preprint" %}
      <li>
        {{ counter }}. {{ post.author }}. <strong>{{ post.title }}</strong>. <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}.
        {% if post.paperurl %}<a href="{{ post.paperurl }}">[article]</a>{% endif %}
        {% if post.arxivurl %}<a href="{{ post.arxivurl }}">[arXiv]</a>{% endif %}
      </li>
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
</ul>
