---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign items = site.teaching | sort: "date" | reverse %}
{% assign t = items[0] %}

{% for inst in t.institutions %}
  <h3>{{ inst.name }}</h3>
  {% if inst.location %}<p>{{ inst.location }}</p>{% endif %}

  <ul>
    {% for block in inst.years %}
      <li>
        <strong>{{ block.year }}</strong>: <strong>{{ block.hours }} hours</strong>
        <ul>
          {% for s in block.tutorials %}
            <li>{{ s }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <hr>
{% endfor %}
