---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign items = site.teaching | sort: "date" | reverse %}

<ul>
{% for t in items %}
  <li>
    {{ t.date_range | default: (t.title | replace: "University of Limoges (", "" | replace: ")", "") }}: {{ t.venue }}
    {% if t.hours %}
      <br>
      <strong>{{ t.hours }} hours:</strong>
    {% endif %}

    {% if t.courses %}
      <ul>
        {% for c in t.courses %}
          <li>{{ c }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
