---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign items = site.teaching | sort: "date" | reverse %}

{% for t in items %}
  <h3>{{ t.venue }}</h3>
  {% if t.location %}<p>{{ t.location }}</p>{% endif %}

  <ul>
    {% for block in t.tutorials_by_year %}
      <li>
        <strong>{{ block.year }}</strong>: <strong>{{ block.hours }} hours</strong>
        <ul>
          {% for s in block.tutorials %}
            <li>{{ s }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

  <hr>
{% endfor %}
